.listRes_global {
    background-color: #f2f2f2;
    font-weight: 700;
}

.listRes_haveResult {
    margin-bottom: 20rem;
}

.listRes_panel {
    background-color: #f2f2f2;
    height: 1000px;
    width: 100%;
}

.listRes_title {
    text-align: center;
    padding-top: 2rem;
}

.listRes_break-line {
    width: 82% !important;
    border-top: 1px solid #bbb;
    margin-bottom: 30px;
}

.listRes_list-card {
    margin-top: 50px;
    margin-left: 0.5rem !important;
}

.listRes_pagination {
    text-align: center;
    margin-top: 50px;
}

.listRes_filter-dropdown {
    text-align: right;
    margin-right: 1em;
}

.listRes_listRes_filter-area {
    text-align: left !important;
    margin-left: 1em !important;
    display: inline-block !important;
}

.listRes_card {
    width: 24%;
}

.listRes_imgNotFound {
    width: 330px;
    height: 330px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

.listRes_txtNotFound {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}