.card-restaurant__container {
  padding: 10px;
  font-family: "Noto Sans,Arial,sans-serif";
}

.card-restaurant__custom {
  position: relative;

  width: 100%;

  border-radius: 5px;
  border: 1px solid #d7d7d7;
  border-top: none;
  background-color: white;
  cursor: pointer;
}

.status {
  position: absolute;

  background-color: red;
  height: 20px;
  width: 30%;

  border-radius: 5px 0 0 0;
  font-family: Noto Sans, Arial, sans-serif;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-restaurant__custom:hover {
  transition: box-shadow 0.25s;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 4px 15px 0 rgb(0 0 0 / 19%);
  text-decoration: none;
}
.card-restaurant__thumbnail {
}

.card-restaurant__thumbnail > img {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0px 0px;
}

.card-restaurant__title {
  color: black;
  padding: 0px;
  text-align: center;
  font-size: 1.2rem;
}

.card-restaurant__address {
  color: gray;
  padding: 0px;
  text-align: center;
}

.card-restaurant__voucher {
  height: 40px;
  padding: 5px;
  border-top: 1px solid rgb(199, 199, 199);

  font-family: Noto Sans, Arial, sans-serif;

  color: #187caa;
  font-weight: 700;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.card-restaurant__info {
  padding: 5px 0;
}
