.ListItems {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  margin: 30px 0;
}

.ListItems__lable {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.ListItems__lable-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.ListItems__lable-see-all {
  font-size: 1rem;
  color: #0288d1;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ListItems__show-more {
  font-size: 1rem;
  color: #0288d1;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
