.profile_updateAccount_global {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0 2rem;
}

.profile_updateAccount_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px auto 10px 30px;
}

.profile_updateAccount_subTitile {
    margin: 5px 0px 5px 30px;
    font-weight: bold;
}

.profile_updateAccount_breakLine {
    border-top: 1.5px solid black;
}

.profile_updateAccount_avatar {
    width: 80px !important;
    height: 80px !important;
    margin: 10px 30px;
    float: left;
}

.profile_updateAccount_breakLine2 {
    border-top: 1px solid #B1AEAE;
    width: 95%;
}

.profile_updateAccount_button {
    background-color: #2196F3;
    color: white !important;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
}

.profile_updateAccount_button_address {
    background-color: #2196F3;
    color: white !important;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    margin: 5px auto 5px 30px
}

.profile_updateAccount_button_access {
    background-color: #219e21 !important;
}

.profile_updateAccount_button_cancel {
    background-color: red !important;
    color: white !important;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    margin: 5px auto 5px 10px
}

.profile_updateAccount_spanUpdateAvatar {
    margin-left: 180px !important;
    margin-top: 25px;
    line-height: 1.8rem;
}

.profile_updateAccount_formAddress {
    width: 100%;
    padding-left: 30px;
}

.profile_updateAccount_inputHomeAddress {
    width: 96%;
    height: 35px;
    margin: 5px auto;
    padding-left: 20px;
    border-radius: 5px;
    border: 1.5px solid black;
}

.profile_updateAccount_inputHomeAddress:focus {
    outline: none;
}

.profile_updateAccount_inputCity {
    width: 47%;
    height: 35px;
    padding-left: 20px;
    border-radius: 5px;
    margin: 5px 2% 5px 0px;
    border: 1.5px solid black;
}


.profile_updateAccount_formInfo {
    width: 100%;
    padding-left: 30px;
}

.profile_updateAccount_inputInfo {
    width: 35%;
    height: 35px;
    padding-left: 20px;
    border-radius: 5px;
    margin: 10px 4.5% 10px 4.5%;
    border: 1.5px solid black;
}

.profile_updateAccount_inputInfo:focus {
    outline: none;
}

.profile_updateAccount_hardInfo {
    margin: 10px auto 15px 30px;
}

.profile_updateAccount_button_info {
    background-color: #2196F3;
    color: white !important;
    border: none;
    padding: 7px 20px;
    border-radius: 5px;
    margin: 0 auto 5px 30px;
}

.profile_updateAccount_phoneNumber {
    margin: 10px 80px auto 30px;
}

.profile_updateAccount_vertifyPhoneNumber {
    font-weight: normal !important;
    margin-left: 180px !important;
}

.profile_updateAccount_inputCity:disabled{
    color: black !important;
    opacity: 0.5;
}

.profile_updateAccount_inputHomeAddress:disabled{
    color: black !important;
    opacity: 0.5;
}

.profile_updateAccount_inputInfo:disabled{
    color: black !important;
    opacity: 0.5;
}