.list-food__container {
  background: #f2f2f2;
}

.list-food__category {
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.list-food__category-item {
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: grey;
}

.list-food__category-item-active {
  background-color: grey;
  color: white;
}

.list-food__list-food {
  background-color: white;
  padding: 20px;
}

.list-food__category > span,
.list-food__list-food > span,
.list-food__cart span {
  color: red;
  font-weight: 600;
  text-transform: uppercase;
}

.list-food__cart {
  background-color: white;
  padding: 20px;
}

.list-food__lable-category {
  color: #6d6f71;
  padding: 5px 0 0 0;
  margin: 20px 0;
}

.list-food__lable-category > span {
  text-transform: uppercase;
}
