.card-voucher__container {
  padding: 10px;
}

.card-voucher__custom {
  position: relative;

  /* height: 200px; */
  width: 100%;
  background-color: white;
  border-radius: 5px;

  cursor: pointer;

  transition: all 0.15s;
}

.card-voucher__custom:hover {
  /* box-shadow: rgb(224, 224, 224) 0px 0px 5px 5px; */
  transition: box-shadow 0.25s;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 20%), 0 4px 15px 0 rgb(0 0 0 / 19%);
  text-decoration: none;
}

.card-voucher__custom img {
  width: 100%;
  height: 40%;
  border-radius: 5px 5px 0px 0px;
  padding: 0px;
  border: hidden;
}

.card-voucher__title {
  font-family: "Noto Sans,Arial,sans-serif";
  color: black;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  line-height: 1rem;

  font-size: 1rem;
  font-weight: 600;
}

.card-voucher__address {
  font-family: "Noto Sans,Arial,sans-serif";
  color: gray;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  line-height: 2rem;
}
