.profile_sidebar_global {
    height: 100%;
    width: 100%;
    background-color: white;
}

.profile_sidebar_item {
}

.profile_sidebar_user {
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem !important;
}

.profile_sidebar_avatar {
    width: 3.5rem !important;
    height: 3.5rem !important;
    float: left;
}

.profile_sidebar_username {
    padding-top: 0.8rem;
    margin-left: 5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.profile_sidebar_item {
    padding-left: 1.5rem !important;
    margin-top: 0.8rem;
    color: black;
    background-color: red;
    position: relative;
}

.profile_sidebar_item_active {
    color: #2196F3 !important;
}

.profile_sidebar_item_active > .profile_sidebar_icon_2 {
    border: 2px solid #2196F3 !important;
}

.profile_sidebar_icon {
    width: 2rem !important;
    height: 2rem !important;
    margin-right: 1rem;
    float: left;
}

.profile_sidebar_icon_2 {
    width: 1.7rem !important;
    height: 1.7rem !important;
    border: 2px solid black !important;
    border-radius: 50%;
    right: 10%;
    position: absolute;
}

.profile_sidebar_item_title {
    padding-top: 0.3rem !important;
    font-size: 1rem;
    float: left;
}

.profile_sidebar_item:hover {
    color: #2196F3;
}

.profile_sidebar_item:hover > .profile_sidebar_icon_2 {
    border: 2px solid #2196F3 !important;
}
