.profile_paymentMethod_global {
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0 2rem;
}

.profile_paymentMethod_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px auto 10px 30px;
}

.profile_paymentMethod_subTitile {
    margin: 5px 0px 5px 30px;
    font-weight: bold;
}

.profile_paymentMethod_breakLine {
    border-top: 1.5px solid black;
}

